HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.gradle
.externalToolBuilders
.mvn
/bin
/externalToolBuilders
/build
/logs
/errorlogs
/config/keystore
/config/application-local.yml
/config/application-dev.yml
/config/application-prd.yml
/gradle
/sql
data.txt
/src/test
.svn
