<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
		
		<setting name="cacheEnabled" value="true"/>
		<!-- lazy 로딩 수행 여부 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="true"/>
		
		<!-- defaultQueryTimeout 설정. 초단위 -->
		<setting name="defaultStatementTimeout" value="5"/>
	</settings>
	
	<typeAliases>
        <typeAlias alias="cmap" type="com.pulmuone.OnlineIFServer.util.CamelListMap"/>
    </typeAliases>
</configuration>
